@import "variables";

nav {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  height: 120px;
  width: 100%;
  z-index: 1030;
  color: #ffffff;
  padding: 1.5em;
  display: flex;
  background-color:$mobile-nav-backround-color;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  
}

/* css formatting for the the "tweeter" logo */

#logo {
  font-family: $bungee;
  width: 100%;
  font-size: 48px;
  position: fixed;
}

/* css formatting for the 'write a new tweet' text in upper screen */

#mini-logo {
  display: flex;
  margin-left: auto;
  font-family: "Source Sans Pro";
}

/* css formatting for the 'write a new tweet' text nav and the moving chevron*/

#mini-logo-container {
  margin-left: auto;
}

/* css formatting for moving chevron button in nav */

#chevron {
  margin-left: 2.5em;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
  outline: 0;
}

/* webkit adding in animation movements for bouncing chevron */

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

/* css formatting for laptop screen */

@media only screen and (min-width: 1024px) {
  nav {
    background-color: $desktop-nav-backround-color;
    background-image: none;
    position: fixed;
  }
  #mini-logo {
    width: 8em;
  }
  #logo {
    position: relative;
  }
}