/* css for 'tweet' button*/

.button {
  font-family: "Bungee";
  background-color: #4056A1;
  color: #ffffff;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* css formatting for text-area */

#text-area {
  width: 100%;
  height: 1.8em;
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  resize: none;
  border-bottom-style: solid;
  background: #f4f1ec;
}

/* css formatting for the counter */

#counter {
  font-family: "Bungee";
  float: right;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* css formatting for the error messages (in a p tag) */

#error {
  display: inline-block;
  color: red;
  font-weight: bolder;
  margin: 0 0 0 1em;
}